aside.app-sidebar {
  position: fixed;
  height: 100%;
  padding: 32px 24px;
  background: linear-gradient(180deg, #FFD600 -8.72%, rgba(255, 233, 121, 0.526042) 37.82%, rgba(255, 255, 255, 0) 100%), #15C3D6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

aside.app-sidebar img {
  width: 48px;
}

aside.app-sidebar footer a,
aside.app-sidebar footer button {
  width: 48px;
  height: 48px;

  border: 0;

  background: #12AFCB;
  border-radius: 16px;

  cursor: pointer;

  transition: background-color 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;

  outline: none;
}

aside.app-sidebar footer a:hover,
aside.app-sidebar footer button:hover {
  background: #17D6EB;
}